@charset "UTF-8";
a {
  text-decoration: none; }

h1 {
  padding: 0rem .5rem .5rem 3rem;
  font-weight: lighter;
  font-size: 1.6rem;
  font-family: Verdana; }

h2 {
  font-weight: bold;
  font-size: 1.5rem; }

.subtitle {
  padding: 0rem 0rem 1rem 7rem;
  font-weight: lighter;
  font-size: 1.25rem;
  color: white;
  opacity: 0.6; }

.flat-icons {
  filter: brightness(0) invert(0.9);
  transition-property: all;
  transition-duration: 100ms; }
  .flat-icons:hover {
    filter: brightness(0) invert(1);
    transition-property: all;
    transition-duration: 100ms; }

@media (max-width: 991px) {
  h1 {
    font-size: 1.4rem;
    padding: .5rem 0rem 0rem 1rem; }
  .subtitle {
    font-size: .7rem;
    padding: 0rem 0rem 1rem 3rem; }
  h2 {
    font-size: 1.25rem; } }

* {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  list-style-type: none;
  transition: all 300ms;
  box-sizing: border-box; }

@keyframes logo-jump {
  0% {
    translate: 0px 0px;
    transform: scale(1, 1); }
  30% {
    translate: 0px 8px;
    transform: scale(1.4, 0.6); }
  50% {
    translate: 0px -34px;
    transform: scale(0.6, 1.4); }
  70% {
    transform: scale(1, 1); }
  85% {
    translate: 0px 8px;
    transform: scale(1.3, 0.7); }
  100% {
    translate: 0px 0px;
    transform: scale(1, 1); } }

header {
  position: sticky;
  top: 0;
  z-index: 2; }

.navbar {
  padding: 0px 0px;
  height: 55px; }
  .navbar .container-fluid {
    flex-wrap: nowrap; }

.navbar-brand,
.nav-link,
.nav-right a {
  display: flex;
  height: 55px;
  align-items: center; }

.bg-body-tertiary {
  background-color: #191f24 !important; }

.navbar-brand {
  color: white;
  margin-left: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .navbar-brand img {
    position: relative;
    height: 2rem;
    width: 2rem;
    bottom: 6px;
    margin-right: 4px; }
  .navbar-brand:hover {
    color: #ffb800; }
    .navbar-brand:hover img {
      animation-name: logo-jump;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-fill-mode: forwards;
      animation-direction: normal; }

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center; }

.nav-link {
  color: #cdcdcd;
  font-weight: bold; }
  .nav-link:hover {
    color: white; }
  .nav-link:active {
    color: white;
    background-color: #101519; }

.navbar-toggler {
  padding: .25rem .5rem;
  margin: 0 0.1rem;
  border: none; }

.nav-right a {
  margin: .25rem; }

.selected a {
  color: white; }

.selected img {
  filter: brightness(0) invert(1); }

.selected:not(a) {
  background-color: #101519; }

@media (max-width: 991px) {
  .navbar-brand {
    margin-left: .5rem; }
  .page-links {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100vw;
    background: #101519; }
  .nav-link {
    height: 2rem;
    padding-left: 2rem; }
    .nav-link:active {
      color: white;
      background-color: #191f24; } }

@media (max-width: 334px) {
  .navbar-brand {
    visibility: hidden; }
    .navbar-brand img {
      visibility: visible; } }

main {
  background-color: #000000;
  min-height: calc(100vh - 55px - 25rem);
  margin: 0px;
  padding: 10px 0px 50px 0px; }

@media (max-width: 991px) {
  main {
    min-height: calc(100vh - 55px - 45rem); } }

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  background-color: black;
  padding-bottom: 50px;
  padding-top: 40px;
  height: 25rem;
  background-image: linear-gradient(black, 85%, #ffb800 120%); }
  footer ul li {
    padding: 10px 0px; }

.footer-links {
  color: #c6c6c6;
  margin: 0 0; }
  .footer-links:hover {
    color: white; }

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  flex-wrap: nowrap;
  margin-bottom: 5px; }

.media-icon {
  width: 30px;
  margin-right: 3px; }

@media (max-width: 991px) {
  footer {
    flex-direction: column;
    height: 45rem; } }

/* CAROUSEL */
.carousel-container {
  display: flex;
  justify-content: center;
  margin: .25rem 0rem 2rem 0rem; }

/* SEASON CAROUSEL */
#season-carousel {
  width: 1024px;
  height: 576px; }
  #season-carousel div .carousel-item {
    backface-visibility: visible !important; }

.carousel-anime-img {
  width: 1024px;
  height: 576px;
  object-fit: cover; }

/* MUSIC CAROUSEL */
#music-carousel {
  width: 896px; }
  #music-carousel .carousel-inner .carousel-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; }
    #music-carousel .carousel-inner .carousel-item iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%; }
  #music-carousel button.carousel-control-prev {
    position: absolute;
    left: -20%; }
  #music-carousel button.carousel-control-next {
    position: absolute;
    right: -20%; }

@media (max-width: 1024px) {
  #season-carousel-title {
    display: none; }
  #season-carousel {
    display: none; }
  #music-carousel-container {
    padding-bottom: 15px; }
  #music-carousel button.carousel-control-prev {
    position: absolute;
    left: 20%;
    top: 105%; }
  #music-carousel button.carousel-control-next {
    position: absolute;
    right: 20%;
    top: 105%; } }

@media (max-width: 426px) {
  #music-carousel button.carousel-control-prev {
    position: absolute;
    left: 20%;
    top: 111%; }
  #music-carousel button.carousel-control-next {
    position: absolute;
    right: 20%;
    top: 111%; } }

/* CARD SCROLLER */
.scroller-title {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: bold; }

.scroller {
  display: flex;
  flex-direction: row;
  margin: 0px 30px 3rem 30px;
  padding: 5px 0px;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: max-content;
  scrollbar-width: thin;
  scroll-snap-type: inline mandatory;
  scrollbar-color: #101519 #191f24; }

@media (max-width: 1024px) {
  .scroller {
    scrollbar-width: none; } }

@media (max-width: 426px) {
  .scroller-title {
    font-size: 1.16rem; }
  .scroller {
    margin-bottom: 1rem; } }

/* ANIME CARD */
.anime-card {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  height: 375px;
  padding: 0px 10px;
  transition: all 0.1s;
  width: min-content;
  scroll-snap-align: start;
  text-decoration: none;
  background-color: black;
  border-radius: 2px; }
  .anime-card:hover {
    transition: all 0.5s;
    background-color: #2b2b2b; }
    .anime-card:hover img {
      min-height: 10%; }
    .anime-card:hover h3 {
      overflow: visible; }
  .anime-card img {
    padding-top: 10px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 8px;
    min-height: 300px; }
  .anime-card h3 {
    overflow: hidden;
    font-size: 12pt;
    text-wrap: wrap;
    color: white;
    font-weight: bold;
    max-height: 50%; }

/* ANIME CARD GRID */
#Watching,
#Queue,
#Completed {
  margin: .5rem 3rem .5rem; }

.search-results,
.season-list,
.user-list {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 380px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* minmax : mínimo de 200px
    máximo de 1 fracción */
  margin: 0 4rem;
  justify-items: center; }

@media (max-width: 426px) {
  .anime-card {
    height: 185px;
    width: min-content; }
    .anime-card img {
      width: 90px;
      height: 135px;
      margin-bottom: 4px;
      min-height: 135px; }
    .anime-card h3 {
      font-size: 8pt;
      text-wrap: wrap;
      color: white;
      font-weight: bold; }
  .search-results,
  .season-list,
  .user-list {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 185px;
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
    margin: 0 4rem;
    justify-items: center; }
    .search-results .anime-card,
    .season-list .anime-card,
    .user-list .anime-card {
      padding: 0 4px; } }

.thumbnail {
  width: 290px;
  height: 220px;
  padding: 5px;
  margin-bottom: 30px; }
  .thumbnail img {
    width: 280px;
    height: 157px;
    object-fit: cover;
    object-position: top; }
  .thumbnail p {
    padding-top: 3px;
    margin: 0px 8px;
    font-family: Verdana;
    font-size: 12pt;
    max-height: 50px;
    overflow: hidden; }
  .thumbnail:hover {
    background-color: #2b2b2b; }
    .thumbnail:hover img {
      height: 50%; }
    .thumbnail:hover p {
      max-height: 100px; }

@media (max-width: 641px) {
  .thumbnail {
    width: 200px;
    height: 146px;
    margin-bottom: 12px; }
    .thumbnail img {
      width: 193px;
      height: 108px; }
    .thumbnail p {
      font-size: 8pt;
      max-height: 33px; }
    .thumbnail:hover p {
      max-height: 69px; } }

/* SEARCH */
.search-container {
  padding: 25px 50px;
  display: flex; }

.search-input {
  background-color: #151515;
  width: 40vw;
  height: 2em;
  border: 0;
  border-radius: 45px;
  outline: none;
  padding: .5em 1.5em;
  font-size: 16pt; }

/* para poder ver las versiones de search con y sin resultados */
.placeholder-result {
  display: none; }

@media (max-width: 991px) {
  .search-container {
    justify-content: center; }
  .search-input {
    width: 80vw; } }

/* SIMULCAST */
.week {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(30rem, max-content);
  margin: 0px 10px;
  padding: 0 0 1.5rem 0;
  gap: 8px;
  justify-items: center; }
  .week .day {
    background-color: #101519;
    background: linear-gradient(#101519, black);
    margin: 15px 0px;
    padding: 8px;
    border-radius: 10px;
    width: 13em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start; }
    .week .day h3 {
      font-family: Verdana;
      font-weight: lighter;
      text-align: center;
      margin-bottom: 15px; }
    .week .day a {
      background-color: #191f24;
      list-style: none;
      text-wrap: balance;
      text-align: center;
      padding: 3px 7px;
      border-radius: 15px;
      font-weight: bold;
      margin: 5px 0px;
      color: white;
      width: 100%; }
      .week .day a:hover {
        background-color: #2a333a; }
