/* CARD SCROLLER */

.scroller-title {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.scroller {
    display: flex;
    flex-direction: row;
    margin: 0px 30px 3rem 30px;
    padding: 5px 0px;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: max-content;
    scrollbar-width: thin;
    scroll-snap-type: inline mandatory;
    scrollbar-color: $color2 $color1;
}

@media (max-width: 1024px) {

    .scroller {
        scrollbar-width: none;
    }
}

@media (max-width: 426px) {
    .scroller-title{
        font-size: 1.16rem;
    }
    .scroller {
        margin-bottom: 1rem;
    }
}