/* CARD SCROLLER */

.scroller-title {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 1.5em;
    font-weight: bold;

}

.scroller {
    display: flex;
    flex-direction: row;
    margin: 0px 30px;
    padding: 5px 0px;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: max-content;
    scrollbar-width: none;
    scroll-snap-type: inline mandatory;
}