
/* SIMULCAST */

.week {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-auto-rows: 30rem;
    margin: 0;
    gap: 0.2rem;
    justify-items: center;

    li {
        border-left: 1px solid #c6c6c6;
        border-right: 1px solid #c6c6c6;
        width: 13em;
        display: flex;
        font-display: column;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }
}